/* _content/DoiT Study Manager/Shared/MainLayout.razor.rz.scp.css */
.page[b-wb6ypqvqcv] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-wb6ypqvqcv] {
    flex: 1;
}

.sidebar[b-wb6ypqvqcv] {
    background-image: linear-gradient(to bottom, rgb(58, 71, 77) 0%, rgb(58, 71, 77) 70%);
}

.top-row[b-wb6ypqvqcv] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-wb6ypqvqcv]  a, .top-row .btn-link[b-wb6ypqvqcv] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-wb6ypqvqcv] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-wb6ypqvqcv] {
        display: none;
    }

    .top-row.auth[b-wb6ypqvqcv] {
        flex: 1;
        justify-content: space-between;
    }

    .top-row a[b-wb6ypqvqcv], .top-row .btn-link[b-wb6ypqvqcv] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-wb6ypqvqcv] {
        flex-direction: row;
    }

    .sidebar[b-wb6ypqvqcv] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-wb6ypqvqcv] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-wb6ypqvqcv] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

.topnav[b-wb6ypqvqcv] {
    background-color: #ffffff;
    overflow: hidden;
  }
  
  .topnav a[b-wb6ypqvqcv] {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    font: italic small-caps bold 24px/2 cursive;
  }
  
  .topnav p[b-wb6ypqvqcv]{
    float: left;
    color: #000000;
    text-align: justify;
    text-decoration: none;
    font: italic bold 56px;
  }

  .topnav a:hover[b-wb6ypqvqcv] {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active[b-wb6ypqvqcv] {
    background-color: #4CAF50;
    color: white;
  }
/* _content/DoiT Study Manager/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-xbkmpu6nz9] {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.1);
    width: 250px;
    height:100px;
}

.top-row[b-xbkmpu6nz9] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-xbkmpu6nz9] {
    font-size: 1.1rem;
}

.oi[b-xbkmpu6nz9] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-xbkmpu6nz9] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-xbkmpu6nz9] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-xbkmpu6nz9] {
        padding-bottom: 1rem;
    }

    .nav-item[b-xbkmpu6nz9]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-xbkmpu6nz9]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-xbkmpu6nz9]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-xbkmpu6nz9] {
        display: none;
    }

    .collapse[b-xbkmpu6nz9] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
