.page[b-wb6ypqvqcv] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-wb6ypqvqcv] {
    flex: 1;
}

.sidebar[b-wb6ypqvqcv] {
    background-image: linear-gradient(to bottom, rgb(58, 71, 77) 0%, rgb(58, 71, 77) 70%);
}

.top-row[b-wb6ypqvqcv] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-wb6ypqvqcv]  a, .top-row .btn-link[b-wb6ypqvqcv] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-wb6ypqvqcv] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-wb6ypqvqcv] {
        display: none;
    }

    .top-row.auth[b-wb6ypqvqcv] {
        flex: 1;
        justify-content: space-between;
    }

    .top-row a[b-wb6ypqvqcv], .top-row .btn-link[b-wb6ypqvqcv] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-wb6ypqvqcv] {
        flex-direction: row;
    }

    .sidebar[b-wb6ypqvqcv] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-wb6ypqvqcv] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-wb6ypqvqcv] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

.topnav[b-wb6ypqvqcv] {
    background-color: #ffffff;
    overflow: hidden;
  }
  
  .topnav a[b-wb6ypqvqcv] {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    font: italic small-caps bold 24px/2 cursive;
  }
  
  .topnav p[b-wb6ypqvqcv]{
    float: left;
    color: #000000;
    text-align: justify;
    text-decoration: none;
    font: italic bold 56px;
  }

  .topnav a:hover[b-wb6ypqvqcv] {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active[b-wb6ypqvqcv] {
    background-color: #4CAF50;
    color: white;
  }