@inherits LayoutComponentBase

<RadzenTooltip />
<RadzenNotification />

 <div class="topnav">
  <p Style ="width: 250px;">DoiT!</p>
</div> 

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <div class = "main" Style="background-color: #f3f5f7;">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
